<mat-toolbar color="primary">
  <a

   routerLink="/" 
   mat-icon-button 
   class="example-icon">
    <mat-icon>menu</mat-icon>
  </a>
  <span>My App</span>
  <span class="example-spacer"></span>
  <a 
    [routerLink]="'/login'"
    mat-button 
    class="login">
    <mat-icon>login</mat-icon>
    Login
  </a>
  <!-- <span class="example-spacer"></span> -->
  <a 
    routerLink="/signup"
    mat-button 
    class="register"  >
    <mat-icon>how_to_reg</mat-icon>
    Register
  </a>
</mat-toolbar>